* { 
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../img/sand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding-top: 60px;
}

h2 {
  color: lightgray;
  font-size: 25px;
  padding-top: 20px;
}

.jordandiv {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.shop {
  width: 550px;
  height: 200px;
}

.button {
  display: inline-block;
  width: 190px;
  height: 90px;
  font-size: 14px;
  background-color: whitesmoke;
  border: 2px solid black;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.button:hover {
  background-color: gray;
  color: whitesmoke;
}

#clicker1, #clicker2 {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
}

#clicker1:hover, #clicker2:hover {
  background-color: gray;
  color: black;
}

#jordan4 {
  width: 300px;
  height: 300px;
}

#jordan4:hover {
  cursor: pointer;
}

#jordan4:active {
  transform: scale(1.1);
}
