* { 
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../img/bw.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding-top: 60px;
}

h2 {
  color: rgb(150, 150, 150);
  font-size: 25px;
  padding-top: 20px;
}

.jordandiv {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.shop {
  width: 550px;
  height: 200px;
}

.button {
  display: inline-block;
  width: 190px;
  height: 90px;
  font-size: 14px;
  background-color: whitesmoke;
  border: 2px solid black;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.button:hover {
  background-color: rgb(128, 128, 128);
}

#jordan4 {
  width: 300px;
  height: 300px;
}

#jordan4:hover {
  cursor: pointer;
}

#jordan4:active {
  transform: scale(1.1);
}
